body{
    font-family: arial,sans-serif;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    list-style: none;
    text-decoration: none;
}

li{
    margin-right: 13px;
    margin-top:7px;
    color: rgb(99, 95, 95);
}



.puntitos{
    width: 25px;
    height: 25px;
    margin-left:15px ;
    margin-right: 23px;
    margin-top: 7px;
    color: grey;
}

.iconos{
    width: 20px;
    height: 20px;

    
   
}

input{
   
    border: none;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;

}

.campoSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    padding: 10px;
    border: 2px solid rgba(192, 176, 176, 0.178);
    border-radius: 20px;
}

.btnAzul{
    width: 95px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}




